---

_You are currently looking at **version 1.0** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-text-mining/resources/d9pwm) course resource._

---

# Working with Text Data in pandas

In [38]:
import pandas as pd

time_sentences = ["Monday: The doctor's appointment is at 2:45pm.", 
                  "Tuesday: The dentist's appointment is at 11:30 am.",
                  "Wednesday: At 7:00pm, there is a basketball game!",
                  "Thursday: Be back home by 11:15 pm at the latest.",
                  "Friday: Take the train at 08:10 am, arrive at 09:00am."]

df = pd.DataFrame(time_sentences, columns=['text'])
df

                                                text
0     Monday: The doctor's appointment is at 2:45pm.
1  Tuesday: The dentist's appointment is at 11:30...
2  Wednesday: At 7:00pm, there is a basketball game!
3  Thursday: Be back home by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at ...

In [39]:
# find the number of characters for each string in df['text']
df['text'].str.len()

0    46
1    50
2    49
3    49
4    54
Name: text, dtype: int64

In [40]:
# find the number of tokens for each string in df['text']
df['text'].str.split().str.len()

0     7
1     8
2     8
3    10
4    10
Name: text, dtype: int64

In [41]:
# find which entries contain the word 'appointment'
df['text'].str.contains('appointment')

0     True
1     True
2    False
3    False
4    False
Name: text, dtype: bool

In [42]:
# find how many times a digit occurs in each string
df['text'].str.count(r'\d')

0    3
1    4
2    3
3    4
4    8
Name: text, dtype: int64

In [43]:
# find all occurances of the digits
df['text'].str.findall(r'\d')

0                   [2, 4, 5]
1                [1, 1, 3, 0]
2                   [7, 0, 0]
3                [1, 1, 1, 5]
4    [0, 8, 1, 0, 0, 9, 0, 0]
Name: text, dtype: object

In [48]:
# group and find the hours and minutes
df['text'].str.findall(r'(\d?\d):(\d\d)')

0               [(2, 45)]
1              [(11, 30)]
2               [(7, 00)]
3              [(11, 15)]
4    [(08, 10), (09, 00)]
Name: text, dtype: object

In [49]:
# group and find the hours and minutes...mislead
df['text'].str.findall(r'(\d\d):(\d\d)')

0                      []
1              [(11, 30)]
2                      []
3              [(11, 15)]
4    [(08, 10), (09, 00)]
Name: text, dtype: object

In [50]:
# replace weekdays with '???'
df['text'].str.replace(r'\w+day\b', '???')

0          ???: The doctor's appointment is at 2:45pm.
1       ???: The dentist's appointment is at 11:30 am.
2          ???: At 7:00pm, there is a basketball game!
3         ???: Be back home by 11:15 pm at the latest.
4    ???: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [53]:
# replace weekdays with 3 letter abbrevations
df['text'].str.replace(r'(\w+day\b)', lambda x: x.groups()[0][:3])

0          Mon: The doctor's appointment is at 2:45pm.
1       Tue: The dentist's appointment is at 11:30 am.
2          Wed: At 7:00pm, there is a basketball game!
3         Thu: Be back home by 11:15 pm at the latest.
4    Fri: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [57]:
# create new columns from first match of extracted groups
df['text'].str.extract(r'(\d?\d):(\d\d)')

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

    0   1
0   2  45
1  11  30
2   7  00
3  11  15
4  08  10

In [58]:
# create new columns from first match of extracted groups
df['text'].str.extractall(r'((\d?\d):(\d\d))')

             0   1   2
  match
0 0       2:45   2  45
1 0      11:30  11  30
2 0       7:00   7  00
3 0      11:15  11  15
4 0      08:10  08  10
  1      09:00  09  00

In [55]:
# extract the entire time, the hours, the minutes, and the period
df['text'].str.extractall(r'((\d?\d):(\d\d) ?([ap]m))')

                0   1   2   3
  match
0 0        2:45pm   2  45  pm
1 0      11:30 am  11  30  am
2 0        7:00pm   7  00  pm
3 0      11:15 pm  11  15  pm
4 0      08:10 am  08  10  am
  1       09:00am  09  00  am

In [59]:
# extract the entire time, the hours, the minutes, and the period with group names
df['text'].str.extractall(r'(?P<time>(?P<hour>\d?\d):(?P<minute>\d\d) ?(?P<period>[ap]m))')

             time hour minute period
  match
0 0        2:45pm    2     45     pm
1 0      11:30 am   11     30     am
2 0        7:00pm    7     00     pm
3 0      11:15 pm   11     15     pm
4 0      08:10 am   08     10     am
  1       09:00am   09     00     am

In [1]:
text10='"Ethics are built right into the ideals andobjective of the United Nations" #UNSG @ NY Socity for Ethical Culture bit.ly/2guVelr @UN @UN_Women'

In [2]:
test11=text10.split(' ')
test11

['"Ethics',
 'are',
 'built',
 'right',
 'into',
 'the',
 'ideals',
 'andobjective',
 'of',
 'the',
 'United',
 'Nations"',
 '#UNSG',
 '@',
 'NY',
 'Socity',
 'for',
 'Ethical',
 'Culture',
 'bit.ly/2guVelr',
 '@UN',
 '@UN_Women']

In [3]:
## How do you find all Hashtags?
tweet = "@nltk Text analysis is awesome! #regex #pandas #python"
print([word for word in tweet.split() if word.startswith('#')])

['#regex', '#pandas', '#python']

In [4]:
## How do you find all Callouts?
tweet = "@nltk Text analysis is awesome! #regex #pandas #python"
print([word for word in tweet.split() if word.startswith('@')])

['@nltk']

In [5]:
print([word for word in test11 if word.startswith('@')])

['@', '@UN', '@UN_Women']

In [6]:
# import regular expression
import re
[word for word in test11 if re.search('@[A-Za-z0-9]+',word)]

['@UN', '@UN_Women']

In [7]:
[word for word in test11 if re.search('@\w+',word)]

['@UN', '@UN_Women']

In [8]:
#Finding Specific characters
text12="ouagadougoutreyyywwwssss"

In [9]:
re.findall(r'[aeiou]',text12)

['o', 'u', 'a', 'a', 'o', 'u', 'o', 'u', 'e']

In [10]:
re.findall(r'[^aeiou]',text12)

['g', 'd', 'g', 't', 'r', 'y', 'y', 'y', 'w', 'w', 'w', 's', 's', 's', 's']

### Case study : Regular expression for Dates

In [29]:
datestr='23-9-2002\n5/10/2002\n23/10/02\n10/23/2002\n13 Oct 2002\n23 October 2002\nOct 9, 2002\nOctober 3, 2002\n'

In [30]:
re.findall(r'\d{2}[/-]\d{2}[/-]\d{4}',datestr)

['10/23/2002']

In [31]:
re.findall(r'\d{1,2}[/-]\d{2}[/-]\d{2,4}',datestr)

['5/10/2002', '23/10/02', '10/23/2002']

In [32]:
re.findall(r'\d{1,2}[/-]\d{1,2}[/-]\d{2,4}',datestr)

['23-9-2002', '5/10/2002', '23/10/02', '10/23/2002']

In [33]:
re.findall(r'\d{1,2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4}',datestr)

['Oct']

In [34]:
re.findall(r'\d{1,2} (?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4}',datestr)

['13 Oct 2002']

In [35]:
re.findall(r'\d{1,2} (?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]* \d{4}',datestr)

['13 Oct 2002', '23 October 2002']

In [36]:
re.findall(r'(?:\d{2} )?(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]* (?:\d{2}, )?\d{4}',datestr)

['13 Oct 2002', '23 October 2002']

In [37]:
re.findall(r'(?:\d{1,2} )?(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]* (?:\d{1,2}, )?\d{4}',datestr)

['13 Oct 2002', '23 October 2002', 'Oct 9, 2002', 'October 3, 2002']